
html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 70%, black 100%), url("media/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

h1 {
    margin: 0;
    font-size: 5vh;
    color: white;
    text-align: center;
    margin-left: 2vh;
    margin-right: 2vh;
    transition: all 1s;
    font-family: 'Play', sans-serif;
    text-shadow: 3px 5px 2px rgb(99, 0, 87);
    animation-name: decrease;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#main-title {
    font-size: 7vh;
}

#nav-text{
    font-size: 3vh;
}

nav {
    position: absolute;
    justify-content: center;
    text-align: center;
    bottom: 0vh;
    padding: 2vh;
    transition: all 0.5s;
    
    animation-name: rebound;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

nav:hover {
    scale: 1.2;
}

#nav-image {
    height: 2vh;
}

a {
    color: white;
    font-family: 'Signika Negative', sans-serif;
    text-decoration: none;
}

ul{
    list-style: none;
}

#about_me-paragraph{
    
    text-shadow: 3px 5px 2px rgb(99, 0, 87);
    padding: 7vh;
    font-size: 2.5vh;
    line-height: 1.4;
    text-align: justify;
    font-family: 'Signika Negative', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}

h2{/*Sections titles*/
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    margin-top: 2vh;
    font-family: 'Play', sans-serif;
    font-size: 6vh;
    text-shadow: 3px 5px 2px rgb(99, 0, 87);
}

/*Formation section design*/

#formation {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-image: linear-gradient(black 0%, rgba(14, 0, 27, 0.5) 50%, black 100%), url("media/images/formation.jpg");
}

.formation-location{
    padding: 3vh;
    font-size: 2vh;
    line-height: 1.4;
    text-align: justify;
    font-family: 'Signika Negative', sans-serif;
}

.formation-time {
    color: rgb(173, 173, 173);
    font-size: 3vh;
    padding-top: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    font-family: 'Play', sans-serif;
}

.formation-name {
    font-size: 3.5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    font-family: 'Play', sans-serif;
    text-shadow: 3px 3px 2px rgb(99, 0, 87)
}

.formation-card{
    margin: 1vh 3vh;
}

/*END of formation section design*/

/*Cards design*/
.card {
    border: 2px solid white;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    transition: all 0.5s;

    animation-name: floating;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.card:hover{
    scale: 1.05;
    box-shadow: 0px 0px 10px 3px rgb(99, 0, 87);
    border: 2px solid rgb(99, 0, 87);
}

.card-delay-one{
    animation-delay: 1s;
}

.card-delay-two{
    animation-delay: 2s;
}

/*END of card design*/

/*Services section design*/

#services{
    padding: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-image: linear-gradient(black 0%, transparent 50%, black 100%), url("media/images/services.jpg");
    background-position: center;
}

.service-description{
    padding: 3vh;
    font-size: 2.5vh;
    line-height: 1.4;
    text-align: justify;
    font-family: 'Signika Negative', sans-serif;
    text-shadow: 3px 3px 2px rgb(99, 0, 87);
}

.services-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 15%;
    width: 15%;
}

.services-title{
    text-align: center;
    padding-left: 3vh;
    padding-right: 3vh;
    font-family: 'Play', sans-serif;
    text-shadow: 3px 3px 2px rgb(99, 0, 87);
    font-size: 4vh;
}

.services-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2vh 2vw;
}

/*END of services section design*/

/*Contact design*/

#contact-paragraph{
    text-shadow: 3px 5px 2px rgb(99, 0, 87);
    padding: 5vh 5vw 1vh 4vw;
    font-size: 2.5vh;
    line-height: 1.4;
    text-align: justify;
    font-family: 'Signika Negative', sans-serif;
}

.contact-information{
    font-size: 3vh;
    font-family: 'Play', sans-serif;
}

#email-icon{
    width: 4vh;
    margin-right: 1vw;
}

.contact-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#phone-icon{
    width: 3.5vh;
    margin-right: 1vw;
}


/*END of contact design*/


footer{
    font-size: small;
    color: rgb(173, 173, 173);
    font-family: 'Play', sans-serif;;
    padding: 3vh 2vw 1vh 2vw;
    background: linear-gradient(black, rgb(53, 0, 47));
}

/*Animations*/
@keyframes rebound {
    from {

    }

    to{
        bottom: 1vh;
    }
}

@keyframes decrease {
    from {

    }

    to{
        scale: 0.95;
    }
}

@keyframes floating {
    from{

    }
    to{
        transform: translateY(-2vh);
    }
}

/*END of animations*/

/*Responsive solutions*/

@media only screen and (max-width: 700px) {
    #services{
        flex-direction: column;
    }

    #formation {
        flex-direction: column;

    }

    #services-card, #formation-card{
        margin-top: 3vh;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    #services{
        flex-direction: column;
    }

    #formation {
        flex-direction: column;

    }

    #services-card, #formation-card{
        margin-top: 3vh;
    }

}

/*END of responsive solutions*/







